<div class="page-header">
  <h1>
    <%= link_to_unless_current "Redirects", [:admin, :redirects] %>
    <%= link_to_unless_current "NEW", [:new, :admin, :redirect], class: "btn btn-primary btn-sm" do nil end %>
  </h1>
</div>
