<div class="embed-vimeo">
  <iframe src="//player.vimeo.com/video/<%= vimeo[:video_id] %>?portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
