<div class="embed-youtube">
  <iframe width="560"
          height="315"
          src="//www.youtube.com/embed/<%= youtube[:video_id] %>"
          frameborder="0"
          allowfullscreen>
  </iframe>
</div>
