<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :image_url, "Image URL" %>
      <%= f.url_field :image_url, class: "form-control" %>
    </div>
  </div>
</div>
