<div class="form-group">
  <%= f.label :title, class: "sr-only" %>
  <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
</div>

<div class="form-group">
  <%= f.label :subtitle, class: "sr-only" %>
  <%= f.text_field :subtitle, class: "form-control", placeholder: "Subtitle" %>
</div>
