<nav role="navigation">
  <% if signed_in? %>
    <ul id="admin-nav">
      <li><%= link_to "Home", root_path, rel: "home" %></li>
      <li><%= link_to "NEW",  new_post_path %></li>
      <li><%= render "/shared/google_site_search" %></li>
    </ul>

    <br>
  <% end %>
</nav>
