<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= select_year object.send(attr).try(:year),
          { prompt: true, start_year: Date.today.year , end_year: Date.today.year - 50 },
          name:  "#{post_type}[#{attr}(1i)]",
          id:    "#{post_type}_#{attr}_1i",
          class: "form-control datetime-select" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= select_month object.send(attr).try(:month),
          { prompt: true },
          name:  "#{post_type}[#{attr}(2i)]",
          id:    "#{post_type}_#{attr}_2i",
          class: "form-control datetime-select" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= select_day object.send(attr).try(:day),
          { prompt: true },
          name:  "#{post_type}[#{attr}(3i)]",
          id:    "#{post_type}_#{attr}_3i",
          class: "form-control datetime-select" %>
  </div>
</div>
