<form action="<%= setting :protocol %>www.google.com/search" method="get" class="search form-inline" role="search">
  <div class="form-group">
    <input type="search" name="q" class="form-control" placeholder="Site search">
  </div>
  <button type="submit" class="btn btn-default sr-only">SEARCH</button>
  <input type="hidden" name="as_sitesearch" value="<%= setting :domain %>" /><!-- site search -->
  <input type="hidden" name="tbs" value="sbd:1,cdr:1,cd_min:1/1/1999" /><!-- sort by date -->
</form>
