<% if flash[:notice] %><div class="alert alert-info">  <%= flash[:notice].html_safe %></div><% end %>
<% if flash[:alert]  %><div class="alert alert-danger"><%= flash[:alert].html_safe  %></div><% end %>
