<%= render "/posts/content", post: post %>

<div class="p-summary">
  <%= simple_format post.summary %>
</div>

<% if post.organizer_name.present? %>
  <p>Organized by <a class="p-organizer h-card" href="<%= event.organizer_url %>"><%= event.organizer_name %></a></p>
<% end %>
