<% unless @settings.blank? %>
  <div class="table-responsive">

    <table class="table">
      <caption>All Settings</caption>
      <% @settings.each do |setting| %>
        <tr>
          <th><%= link_to setting.name.gsub(" ", "&nbsp;").html_safe, edit_setting_path(setting) %></th>
          <td>
            <% if setting.slug == "license" %>
              <%= License.find(setting.content).short_code.html_safe %>
            <% else %>
              <%= setting.content %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
<% end %>
