<h1>Pages</h1>

<ol class="h-feed">
  <% @posts.each do |page| %>
    <li>
      <article class="h-entry">
        <h1 class="p-name">
        <%= link_to page.slug do %>
          <span class="dm-title"><%= page.title %></span><br>
          <span class="dm-subtitle"><%= page.subtitle %></span>
        <% end %>
        </h1>
      </article>
    </li>
  <% end %>
</ol>
