<h1>
  Posts  
  <%= link_to_unless_current "tagged", tags_path %>
  <%= link_to_tag(@tag) %>
</h1>

<p>
  <b>#<%= @tag.slug.gsub(/-/, "") %></b> elsewhere: <%= link_to_external_tag_pages @tag %>.
</p>
