<div class="e-content">
  <%= link_to post.image_url, rel: "enclosure" do %>
    <%= image_tag post.image_url, alt: post.name, class: "u-photo" %>
  <% end %>

  <p class="download">
    <%= link_to "Download photo", post.image_url, class: "u-x-enclosure" %>
  </p>

  <div class="p-summary">
    <%= simple_format post.content %>
  </div>
</div>
