<h1>Editing <%= @post.post_type_type %></h1>

<%= form_for @post, url: @post.path do |f| %>
  <%= render "#{@post.post.namespace}/form", f: f %>
<% end %>

<%= render "posts/danger_zone", post: @post.post, label: @post.post.type if signed_in? %>
