/*
*= require vendor/bootstrap
*/

#notifications {
  margin-top: 1rem;
}

.navbar {
  .navbar-brand img {
    max-height: 24px;
  }

  .navbar-header form,
  .btn {
    margin-top: 10px;
  }
  
  .navbar-header form {
    width: 50%;
    display: inline-block;
    float: right;
    margin-right: 15px;
  }
}
