button,
input[type=submit] {
  display: inline-block;
  padding: .5rem .5rem .25rem .5rem;
  color: white;
  background: #666;
}

textarea {
  width: 100%;
  height: 10em;
}

.actions {
  text-align: right;
  margin: 2em 0 3em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.action {
  color: #333;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.action-delete {
  color: red;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
  border-bottom: 1px solid red;
  margin-right: 1em;
}

.action-save {
  background: green;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: white;
  text-align: right;
  float: right;
}

.action        { padding: .4em 0;     }
.action-delete { padding: .4em 0;     }
.action-save   { padding: .4em .66em; }

.actions .dt-updated {
  color: #ccc;
  display: block;
  text-align: right;
  clear: both;
  font-size: .8em;
}
