nav[role="navigation"] {
  margin: 2em auto;
  border-bottom: 1px solid #eee;
  padding-bottom: .5em;

  ul       { margin: 0; padding: 0; }
  li       { display: inline; margin-right: .25em; }

  a        { text-decoration: none; }
  a:hover  { border-bottom: 1px solid black; }
}
